%div.col-lg-4
  - url = @customer.new_record? ? stripe_customer_index_path : stripe_customer_path(@customer)

  = bootstrap_form_for @customer, url: url do |f|
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :email
    = f.submit "Save"