- @title = @customer.full_name

%h2= "Customer Details"
%table.table.table-striped.table-condensed
  - @customer.attributes.to_a.each do |attribute|
    %tr
      %th{ width: 150 }= humanized_attribute(attribute.first)
      %td= attribute.second


%h2= "Active Card Details"
- if !@customer.external_id
  This customer does not have any card details stored. Click the button below to enter card details.
  %br
  %br
  %i= "It should go without saying that you shouldn't enter any real credit card details. This is just a sandbox app, there's no actual security. Stripe have provided the following card details, which are valid when entered with a three digit CVC number and expiry date in the future. A full list of cards can be found #{ link_to 'here', 'https://stripe.com/docs/testing#cards', target: '_blank'}."
  %br
  %br

= render "stripe_checkout_button"
%br
- if @customer.external_id
  %table.table.table-striped.table-condensed
    - @active_card.each do |attribute, value|
      %tr
        %th{ width: 150 }= humanized_attribute(attribute)
        %td= value


%h2 Actions
%ul
  %li= link_to "Edit Customer Information", edit_stripe_customer_path(@customer)
  - if @customer.external_id
    %li= link_to "Charge Customer", new_stripe_customer_stripe_charge_path(@customer)

  - if @customer.stripe_charges.any?
    %li= link_to "View Customer's Charges", view_all_charges_stripe_customer_path(@customer)

  %li= link_to "Delete Customer", stripe_customer_path(@customer), method: :delete, data: { confirm: "This will permanently delete all data related to this customer" }