- @title = "BreakTheRules Events"

- if @break_the_rules_events.empty?
  %i= "Apparently I haven't attended BreakTheRules before. Click #{link_to 'add', new_break_the_rules_event_path} to create one!"

- else
  = link_to 'Add New Event', new_break_the_rules_event_path

  %h3 Existing Events
  %table.table.table-striped.table-condensed
    %th Event
    %th Action
    - @break_the_rules_events.each do |event|
      %tr
        %td= link_to event.name, break_the_rules_event_path(event)
        %td= link_to "Delete Event", break_the_rules_event_path(event), method: :delete, data: { confirm: "This will permanently delete the event and all its applicants." }