- @title = @event.name

= link_to "Add New Applicant", new_break_the_rules_event_break_the_rules_applicant_path(@event)
%br
%br

= link_to "View All Applicants", break_the_rules_event_break_the_rules_applicant_index_path(@event)
%br
%br

- unless @event.applicants.empty?
  = link_to "Download .csv File", download_csv_break_the_rules_event_path(@event, format: :csv)
  %br
  %br

= link_to "Edit Event", edit_break_the_rules_event_path(@event)
%br
%br

= link_to "Back to All Events", break_the_rules_event_index_path